# ---------------------------
# Core
# ---------------------------
numpy==1.26.4
pandas==2.2.2
python-dotenv==1.0.1
tqdm==4.66.4

# ---------------------------
# Torch + ESMFold
# ---------------------------
torch==2.2.1
torchvision==0.17.1

# ---------------------------
# LLM + LangChain 
# ---------------------------
langchain==0.3.13
langchain-core==0.3.33
langchain-community==0.3.13
langchain-openai==0.3.3
openai==1.60.0


# ---------------------------
# VectorDB
# ---------------------------
chromadb==0.5.5

# ---------------------------
# Network
# ---------------------------
requests==2.32.3
httpx==0.27.2

# ---------------------------
# Bio / Parsing
# ---------------------------
biopython==1.84
ijson==3.4.0

# ---------------------------
# HF Ecosystem
# ---------------------------
sentence-transformers==3.0.1
transformers==4.41.2
accelerate==0.31.0
huggingface-hub==0.23.4
fair-esm==2.0.0

# ---------------------------
# API Server
# ---------------------------
fastapi==0.111.0
uvicorn[standard]==0.29.0

# ---------------------------
# Streamlit + Visualization
# ---------------------------
streamlit==1.38.0
py3Dmol==2.5.3
Pillow==10.4.0
